::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(49, 49, 49);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(49, 49, 49);
    border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(49, 49, 49);
}

.profile-info {
    border-radius: 1.0625rem;
    border: 2px solid transparent;
    border-image: linear-gradient(180deg, #9D8A8A 0%, #2D0606 100%);
   
    border-image-slice: 1;
    background: linear-gradient(0deg, rgba(7, 3, 0, 0.81) 0%, rgba(7, 3, 0, 0.81) 100%), linear-gradient(180deg, #010101 4.94%, rgba(58, 58, 58, 0.98) 48.86%, #000 85.78%, rgba(0, 0, 0, 0.60) 154.09%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 14.25rem;
    
}

.trending {
    border-radius: 1.0625rem;
        border: 1px solid #9D8A8A;
        background: linear-gradient(0deg, rgba(7, 3, 0, 0.81) 0%, rgba(7, 3, 0, 0.81) 100%), linear-gradient(180deg, #010101 4.94%, rgba(58, 58, 58, 0.98) 48.86%, #000 85.78%, rgba(0, 0, 0, 0.60) 154.09%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 14.25rem;
}

.card-bg-image {
    border-top-left-radius: 1.0625rem;
    border-top-right-radius: 1.0625rem;
    height: 6.1875rem;
}

.card-profile-image {
    width: 5.0625rem;
    height: 4.20925rem;
    flex-shrink: 0;
    border-radius: 0.68256rem;
    box-shadow: 0px 3.64px 3.64px 0px rgba(0, 0, 0, 0.25);
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ft {
    color: #FFF;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.fc {
    color: #FFF;
    font-family: Orbitron;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pn {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pt {
    font-family: Poppins;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(140deg, #00E7FC 2.07%, #EC46E5 98.58%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.frbtn {
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}

.frc {
    right: 0;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 1;


}

.frsvg {
    cursor: pointer;
    margin-left: auto;
        margin-right: auto;
}

.birthday-card {
    border-radius: 1.0625rem;
        border: 1px solid var(--rown, #8C766C);
    
        background: var(--Browru, linear-gradient(0deg, rgba(7, 3, 0, 0.63) 0%, rgba(7, 3, 0, 0.63) 100%), linear-gradient(180deg, #010101 4.94%, rgba(58, 58, 58, 0.98) 48.86%, #000 85.78%, rgba(0, 0, 0, 0.60) 154.09%));
        width: 12.875rem;
        flex-shrink: 0;
        margin-left: auto;
        margin-right: auto;
}

.gift-icon {
    width: 0.99981rem;
    height: 1.125rem;
    transform: rotate(-9.637deg);
    margin-right: 0.5rem;
}

.card-bd-image {
    border-radius: 0.75rem;
    width: 3.8rem;
        height: 3.8rem;
}

.username {
    background: linear-gradient(140deg, #00E7FC 2.07%, #EC46E5 98.58%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.hashtag {
    color: #F7B8A3;
    font-weight: 400;
    font-size: 0.875rem;
}

.tt {
    font-weight: 500;
    font-size: 1rem;
}