::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(49, 49, 49);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(49, 49, 49);
    border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(49, 49, 49);
}

.profile-info {
    border-radius: 1.0625rem;
    border: 1px solid #9D8A8A;
    background: linear-gradient(0deg, rgba(7, 3, 0, 0.81) 0%, rgba(7, 3, 0, 0.81) 100%), linear-gradient(180deg, #010101 4.94%, rgba(58, 58, 58, 0.98) 48.86%, #000 85.78%, rgba(0, 0, 0, 0.60) 154.09%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}